var emojiRawRemoteMap = {
  '😊': '/emoji_1.png',
  '😋': '/emoji_2.png',
  '😌': '/emoji_3.png',
  '😍': '/emoji_4.png',
  '😎': '/emoji_5.png',
  '😏': '/emoji_6.png',
  '😚': '/emoji_7.png',
  '😛': '/emoji_8.png',
  '😜': '/emoji_9.png',
  '😝': '/emoji_10.png',
  '😞': '/emoji_11.png',
  '😟': '/emoji_12.png',
  '😪': '/emoji_13.png',
  '😣': '/emoji_14.png',
  '😬': '/emoji_15.png',
  '😭': '/emoji_16.png',
  '😮': '/emoji_17.png',
  '😯': '/emoji_18.png',
  '😺': '/emoji_19.png',
  '😻': '/emoji_20.png',
  '😼': '/emoji_21.png',
  '😽': '/emoji_22.png',
  '😾': '/emoji_23.png',
  '😿': '/emoji_24.png',
  '🌹': '/emoji_25.png',
  '👩‍❤️‍💋‍👩': '/emoji_26.png',
  '💕': '/emoji_27.png',
  '💖': '/emoji_28.png',
  '🙁': '/emoji_29.png',
  '🙃': '/emoji_30.png',
  '🙄': '/emoji_31.png',
  '🙅🏼‍♀️': '/emoji_32.png',
  '🙅🏾‍♂️': '/emoji_33.png',
  '🤗': '/emoji_34.png',
  '🤙': '/emoji_35.png',
  '🤡': '/emoji_36.png',
  '🤣': '/emoji_37.png',
  '🤤': '/emoji_38.png',
  '🤥': '/emoji_39.png',
  '🤦🏻‍♂️': '/emoji_40.png',
  '🤦🏼': '/emoji_41.png',
  '✌': '/emoji_42.png',
  '💀': '/emoji_43.png',
  '☹️': '/emoji_44.png',
  '❓': '/emoji_45.png',
  '❗': '/emoji_46.png',
  '❤': '/emoji_47.png',
};

var emojiRawRE = getRegExp('(😊|😋|😌|😍|😎|😏|😚|😛|😜|😝|😞|😟|😪|😣|😬|😭|😮|😯|😺|😻|😼|😽|😾|😿|🌹|👩‍❤️‍💋‍👩|💕|💖|🙁|🙃|🙄|🙅🏼‍♀️|🙅🏾‍♂️|🤗|🤙|🤡|🤣|🤤|🤥|🤦🏻‍♂️|🤦🏼|✌|💀|☹️|❓|❗|❤)', 'g');

// raw to remote
var fmrr = function(content, emojiSize) {
  var nodes = [];
  var arr = content.split(emojiRawRE);
  arr.forEach(function(item) {
    emojiRawRE.lastIndex = 0;
    var matched = emojiRawRE.exec(item);
    emojiRawRE.lastIndex = 0;
    if (matched === null) {
      // text
      item && nodes.push({
        type: 'text',
        text: item,
      });
    } else {
      // emoji
      nodes.push({
        name: 'img',
        attrs: {
          src: 'http://www.example.com' + emojiRawRemoteMap[matched[1]],
          width: emojiSize + 'px',
          height: emojiSize + 'px',
          style: 'vertical-align: text-top;margin: 0 2px;',
        },
      });
    }
  });
  return nodes;
};

module.exports = {
  fmrr: fmrr,
  emojiRawRemoteMap: emojiRawRemoteMap,
};
